params {
  tracedir = './run_stats'
}

trace {
  file = './trace.txt'
}

executor {
  name = 'slurm'
}

process {
  withName: createSpectraLookup {
    time = { check_max( 0.05.h * mzmlfiles.size(), 'time' ) }
  }
  withName: quantLookup {
    time = { check_max( 0.1.h * isofns.size(), 'time' ) }
    clusterOptions = '--mem-per-cpu=32G'
  }
}
