params {
  tracedir = './run_stats'
}

trace {
  file = './trace.txt'
}

executor {
  name = 'slurm'
}

process {
  withName: get_software_versions {
    errorStrategy = { task.exitStatus == 141 ? 'retry' : 'finish' }
    maxRetries = 5
  }
  withName: createSpectraLookup {
    time = { check_max( 0.05.h * mzmlfiles.size(), 'time' ) }
  }
  withName: quantifySpectra {
    maxForks = 10
  }
  withName: msgfPlus {
    time = { check_max( 6.h * task.attempt, 'time' ) }
    maxForks = 20
  }
  withName: quantLookup {
    time = { check_max( 0.1.h * isofns.size(), 'time' ) }
    memory = '32 GB'
  }
  withName: createPSMTable {
    time = { mzmlcount > 500 ? check_max( 0.003.h * mzmlcount, 'time' ) : 2.h }
  }
  withName: percolator {
    time = { mzmlcount > 500 ? check_max( 0.004.h * mzmlcount * task.attempt , 'time' ) : 2.h * task.attempt }
    cpus = 4
  }
}
