/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  mzmlPaths = [
    ['https://github.com/nf-core/test-datasets/raw/quant-msproteomics/testdata/518_scans_QE_tmt10_fasp_cellines_human.mzML', 'set1', '3.7-4.9', '1']
  ]
  tdb = 'https://github.com/nf-core/test-datasets/raw/openmspeptidequant/HUMAN_2014_concat.fasta'
  isobaric = 'tmt10plex'
  denoms = 'set1:126'
  mods = "$baseDir/assets/tmtmods.txt"
  normalize = true
  params.hirief = true
  pipep = "$baseDir/assets/formatted_known_peptides_ENSUniRefseq_TMT_predpi_20150825.txt"
}
