/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  mzmlPaths = [
    ['https://github.com/glormph/test-datasets/raw/quant-msproteomics/testdata/set1_518_scans_QE_tmt10_fasp_cellines_human.mzML', 'set1'],
    ['https://github.com/glormph/test-datasets/raw/quant-msproteomics/testdata/set2_518_scans_QE_tmt10_fasp_cellines_human.mzML', 'set2'],
  ]
  tdb = 'https://www.uniprot.org/uniprot/?query=organism:9606+AND+reviewed:yes&format=fasta'
  denoms = 'set1:126:131 set2:131'
  isobaric = 'tmt10plex'
  mods = "$baseDir/assets/tmtmods.txt"
  params.genes = true
}
