/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  mzmlPaths = [
    ['https://github.com/nf-core/test-datasets/raw/ddamsproteomics/testdata/set1_518_scans_QE_tmt10_fasp_cellines_human.mzML', 'set1'],
    ['https://github.com/nf-core/test-datasets/raw/ddamsproteomics/testdata/set2_518_scans_QE_tmt10_fasp_cellines_human.mzML', 'set2'],
  ]
  tdb = 'https://github.com/nf-core/test-datasets/raw/726b5e2a156e982a3ed57cdc63f155a06c04db75/HUMAN_2014_concat.fasta'
  isobaric = 'tmt10plex'
  denoms = 'set1:126 set2:131'
  mods = "$baseDir/assets/tmtmods.txt"
  params.genes = true
}
